  <%days = %w(ראשון שני שלישי רביעי חמישי שישי) %>
  <%timeframe = %w(10 12 14 16 18 19) %>

<h3><%=name%></h3>
 <p dir='rtl'>
   <table dir='rtl' id='plan'>
    <tr>
      <td> שעות </td>
      <td> מתנדב </td>
      <%(0..number_of_days).each do |day| %>
        <td><%= days[day] %> <%= (@weekly_plan.sunday_of_cweek + day.days).strftime("%d/%m")%></td>
      <%end %>
    </tr>
    <tr>
      <td rowspan=<%=number_of_volunteers+2 %>> <%= time_range%> </td>
    </tr>
     <tr>
       <td> מנהל משמרת</td>
        <%(0..number_of_days).each do |day| %>
        <td style='background: #008000'><input  type='text' name="weekly_plan[data][]" value='<%= weekly_plan.data[i - 1] || nil %>'/></td>
      <%end %>

    </tr>
     <% (1..number_of_volunteers).each do |day| %>
       <tr>
       <td>  <%= day%> </td>
       
       <%(1..number_of_days+1).each do |vol| %>
         <% i += 1 %>
         <td style="border:1px solid gray">
         <input  type='text' name="weekly_plan[data][]" value='<%= weekly_plan.data[i - 1] || nil %>'/>  </td>
       <%end %>
     </tr>
     <% end %>
</table>