<div id="<%= dom_id weekly_plan %>">

  <p>
    <strong>שבוע:</strong>
    <%= weekly_plan.week_number %>
  </p>
  <%= form_for(weekly_plan) do |form| %>

  <%= render partial: 'shift', locals:{weekly_plan: weekly_plan,i: 0, time_range: '10:30-14:30', name: 'משמרת בוקר' ,number_of_volunteers: 10, number_of_days: 5}%>
  <%= render partial: 'shift', locals:{weekly_plan: weekly_plan,i: 66 ,time_range: '14:30-19:00', name: 'משמרת ערב', number_of_volunteers: 6, number_of_days: 4}%>

<div style='padding-top:20px'>
   <%= link_to 'שבוע קודם' , weekly_plan_path(id: "#{Date.today.year}-#{weekly_plan.week_number - 1}")%>
    <%= form.submit "עדכן תוכנית" ,style: 'font-size:20px'%>
   <%= link_to 'שבוע הבא' , weekly_plan_path(id: "#{Date.today.year}-#{weekly_plan.week_number + 1}")%>
  </div>
<% end %>

</div>
